@import url(http://fonts.googleapis.com/css?family=Roboto:300);

body {
  padding-top: 50px;
  font-family: 'Arial', sans-serif;
  font-size: 15px;
  color: #5B5B61;
  line-height: 1.5em;
  font-family: 'Roboto', sans-serif;
 }

header {
  background: #b42738;
  color: #FFFFFF;
  height: 80px;
  margin-bottom: 20px;
}

.footer {
  background: #333333;
  color: #FFFFFF;
  height: 80px;
  margin-top: 20px;
  padding-top: 20px;
  text-align: center;
}

#books-index {
  text-align: center;
}

#books-index h3{
  height: 50px;
}

#books-index img{
  width: 100%;
  padding: 3px;
  border: 1px #cccccc solid;
}

#books-index .btn{
  display:block;
  margin-top: 20px;
}

.books-show-left {
  float: left;
  width: 40%;
}

.books-show-right {
  float: left;
  width: 60%auto;
  margin-top: 10px;
}

#books-show .btn{
  margin: 20px 0 0 70px;
}
