<footer class="footer">
  <div class="container">
  <p>Copyright &copy; 2015 Bookstore on Rails</p>
  <p>Made By: <%= link_to "Rahul Prithu", "https://github.com/BluePhoenixRa/" %></p>
</div>
</footer>
